/* FIXME: needs to use css variables */

.FormField {
    position: relative;
    margin-top: 16px;
    width: 100%;
}

.FormField-label {
    position: absolute;
    left: 10px;
    top: -10px;
    background: white;
    padding: 0 4px;
    font-size: 12px;
    color: #616161;
    font-weight: 500;
}

.FormField-control {
    width: 100%;
    background-color: white;
    cursor: pointer;
    min-height: 40px;
}
