.FormField {
    position: relative;
    margin-top: 16px;
    width: 100%;
}

.FormField-label {
    position: absolute;
    left: 10px;
    top: -10px;
    background: white;
    padding: 0 4px;
    font-size: 12px;
    color: #616161;
    font-weight: 500;
}
